.modelos{
    position: relative;
    border: rgb(48, 48, 48);
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    max-height: 600px;
}

.iframe_Modelos{
    width: 100%;
    height: 650px;
}

@media screen and (max-width: 800px) {
    .modelos{
        max-height: 400px;
    }
    
    .iframe_Modelos{
        height: 450px;
    }
}